aside {
    background: #062e2e;
    margin-left: -60%;
    left: 60%;
    transition: all 0.5s ease;
    /* overflow: hidden; */
    z-index: 10;
    position: fixed;
}

aside ul {
    list-style: none;
    margin: 30px 10px;
}

aside ul li a *,
p,
i {
    font-size: 18px;
    padding: 10px;
}

aside ul li *:hover {
    text-decoration: none;
    color: #008fd1;
}

aside ul li * {
    color: #e6e6e6;
}


.row {
    margin-left: 0px;
    margin-right: 0px;
}

aside .bread {
    font-weight: 700;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 40px;
}

.aside {
    left: -60%;
}

@media(max-width:768px) {
    aside {
        left: 0%;
    }

    .aside {
        left: 60%;
    }

}