a,
.link {
    color: inherit;
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
}

body *,
* {
    font-family: 'proxima-nova', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    backface-visibility: hidden;
    box-sizing: border-box;
    color: whitesmoke;
    /* margin-left: 15px; */

}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left bottom, #34363b, #274241, #174444, #16575f);
}

aside {
    /* width: 20%; */
    /* margin-top: -44px; */
    background: #062e2e;
    /* height: 100%; */
    /* padding: 20px; */
    /* flex-direction: column;    */
    margin-left: -60%;
    left: 60%;
    /* position: inherit; */
    transition: all 0.5s ease;
    overflow: hidden;
    z-index: 10;
    /* margin-left: 100px */
}

aside ul {
    list-style: none;
    margin: 30px 10px;
}

aside ul li a *,
p,
i {
    font-size: 18px;
    padding: 10px;
}

aside ul li *:hover {
    text-decoration: none;
    color: #41bebe;
}


aside .row {
    margin-left: 0px;
    margin-right: 0px;
}

aside .bread {
    font-weight: 700;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 40px;
}

nav.top {
    width: 100%;
    right: 0;
    top: 0;
    height: 75px;
    background-color: #41bebe;
    position: fixed;
}

nav.bottom {
    width: 100%;
    right: 0;
    bottom: 0;
    height: 75px;
    background-color: #5a6464;
    position: fixed;
}

.app-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left bottom, #34363b, #274241, #174444, #16575f);
    /* position: relative; */
}

/* .app-wrapper .app {
    width: 100%;
    height: 100%;
    left: 0;
    background-color: antiquewhite;
    position: fixed;
} */

.aside {
    left: -60%;
    /* background: #41bebe; */
}

#toggle {
    /* visibility: hidden; */
    /* display: none; */
    z-index: 100;
    position: absolute;
}

@media(max-width:768px) {
    aside {
        left: 0%;
    }

    .aside {
        left: 60%;
        /* background: #41bebe; */
    }

}





/* old */



/* .cover {
    max-width: 60px;
    max-height: 60px;
}

.dark-layer {
    background-color: #191919;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -2;
}


.logo {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.now-playing {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.now-playing img {
    cursor: pointer;
}

.tittle {
    font-size: 1.5rem;
}

.sidebar {
    background-color: #191919;
    height: 100%;
    position: absolute;
    z-index: 999;
}

.sidebar ul {
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

li .sidebar-brand {
    background-color: aquamarine;

}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active {
    text-decoration: none;
    background-color: #999999;
}
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
} */

/* Test */