a,
.link {
    color: inherit;
    text-decoration: none;
    font-size: 100%;
    cursor: pointer;
}

/* .text-overflow {
    margin: 0;
    font-weight: bolder;
    padding: 0;
    font-size: 16px;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.text {
    position: relative;
}

.text span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    left: 0;
    right: 0;
}
/* 
.text:before {
    content: '';
    display: inline-block;
} */

.no-border-radius {
    border-radius: 0 !important;
}

.table thead {
    background: #34363b60;
}



.table td,
.table th {
    padding: .5rem .75rem;
    vertical-align: middle;
    color: #c2c2c2;
}

.tab-nowrap {
    table-layout: fixed;
}

.tab-nowrap td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.table tbody {
    font-size: 14px;
    color: #afafaf9a;
    font-weight: lighter;
    background: #34363b48;
}

@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

body *,
* {
    font-family: 'Proxima Nova', Georgia, sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    backface-visibility: hidden;
    box-sizing: border-box;
    color: whitesmoke;
    transition: all 0.5s ease;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left bottom, #34363b, #274241, #174444, #16575f);
    overflow: hidden;
}


.app-wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left bottom, #34363b, #274241, #174444, #16575f);
    z-index: -1;
}

.app {
    position: fixed;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    padding-bottom: 75px;
    overflow: auto;
}

.content {
    position: fixed;
    width: 100%;
    height: calc(100% - 125px);
    overflow: scroll;

    background: transparent;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.ml-50 {
    margin-left: 50px;
}

.nav-top {
    width: 100%;
    right: 0;
    top: 0;
    height: 50px;
    background-color: #41bebe;
    position: fixed;
}

.nav-bottom {
    width: 100%;
    right: 0;
    bottom: 0;
    height: 75px;
    background-color: #5a6464;
    position: fixed;
}

.toggled {
    width: 100%;
    background-color: #c74eb3
}


#toggle {
    z-index: 1000;
    position: fixed;
}

ul,
li {
    list-style-type: none;
    text-decoration: none;
}





/* old */



/* .cover {
    max-width: 60px;
    max-height: 60px;
}

.dark-layer {
    background-color: #191919;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -2;
}


.logo {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
}

.now-playing {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.now-playing img {
    cursor: pointer;
}

.tittle {
    font-size: 1.5rem;
}

.sidebar {
    background-color: #191919;
    height: 100%;
    position: absolute;
    z-index: 999;
}

.sidebar ul {
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

li .sidebar-brand {
    background-color: aquamarine;

}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active {
    text-decoration: none;
    background-color: #999999;
}
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
} */

/* Test */